{{> Navbar title='todos' }}
<div class="row">
    {{#if queryObj.status}}
    <div class="col-12 col-sm-12 col-md-4 p-2">
        <div class="p-3 border">
            <h2 class="mb-2 text-2xl tracking-tight text-gray-900 capitalize mb-3">Create New Task</h2>
            <form data-form-name="">
                <div class="row pb-2">
                    <label role="button" class="col-12 block mb-2 text-sm font-medium text-gray-900">*category</label>
                    <label for="personal" class="col-6 col-md-6 flex items-center pl-4 border border-gray-200 rounded bg-gray-50">
                        <input type="radio" value="personal" name="category" id="personal"
                        class="w-5 h-5 text-blue-600 bg-gray-100" required>
                        <span role="button" class="w-full py-4 ml-2 text-sm font-medium text-gray-900">Personal</span>
                    </label>
                    <label for="teams" class="col-6 col-md-6 flex items-center pl-4 border border-gray-200 rounded bg-gray-50">
                        <input type="radio" value="teams" name="category" id="teams" class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300" required>
                        <span role="button" class="w-full py-4 ml-2 text-sm font-medium text-gray-900">Teams</span>
                    </label>
                </div>
                <div class="py-2">
                    <label for="title_task" role="button" class="block mb-2 text-sm font-medium text-gray-900">*title task</label>
                    <input type="text" name="title_task" id="title_task" autocomplete="off" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="title task"  required>
                </div>
                <div class="py-2">
                    <label for="discription" role="button" class="block mb-2 text-sm font-medium text-gray-900">*Discription</label>
                    <textarea name="discription" id="discription" rows="4" autocomplete="off" 
                     class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Write your task discription here..."
                        required></textarea>
                </div>
                <div class="py-2">
                    <button type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 uppercase">submit</button>
                    <button type="button" id="reset-app-btn"
                        class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 uppercase">
                        delete all users
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-8 p-2">
        <div class="p-3 border">
            <div class="row center-xy">
                <div class="col-9">
                    <h2 class="mb-2 text-2xl tracking-tight text-gray-900 capitalize mb-3">{{queryObj.status}} Task List
                    </h2>
                </div>
                <div class="col-3 text-end">
                    <button type="button" class="t-t-u p-2">add task</button>
                </div>
                <div class="col-12">
                    <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200">
                        <li data-active-link="all" class="tab list-style-none">
                            <button data-active-link="all" aria-current="page"
                                class="inline-block {{#ifEquals queryObj.status 'all'}}text-blue-600 bg-gray-100{{/ifEquals}} rounded-t-lg uppercase px-7 py-3"
                                onclick="location.replace('#/todos?status=all')">
                                all
                            </button>
                        </li>
                        <li data-active-link="pending" class="tab list-style-none">
                            <button aria-current="page" onclick="location.replace('#/todos?status=pending')"
                                class="inline-block {{#ifEquals queryObj.status 'pending'}}text-blue-600 bg-gray-100{{/ifEquals}} rounded-t-lg uppercase px-7 py-3">
                                pending
                            </button>
                        </li>
                        <li data-active-link="pending" class="tab list-style-none">
                            <button onclick="location.replace('#/todos?status=done')" aria-current="page"
                                class="inline-block {{#ifEquals queryObj.status 'done'}}text-blue-600 bg-gray-100{{/ifEquals}} rounded-t-lg uppercase px-7 py-3">
                                done
                            </button>
                        </li>
                    </ul>
                </div>
                {{#if loading}}
                <div class="col-12">
                    <div class="p-2 app-card my-2 text-center">loading...</div>
                </div>
                {{else}}
                {{#if tasks.length}}
                <div class="col-12" id="task-container">
                    {{#each tasks as |element|}}
                    {{> TaskCard task=element}}
                    {{/each}}
                </div>
                {{else}}
                <div class="col-12 my-2">
                    {{>Alert message="you don't have task in this status"}}
                </div>
                {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
    {{else}}
    <div class="col-12 col-sm-12">
         {{>Alert message="task status unavailable"}} 
    </div>
    {{/if}}
</div>