<nav class="row center-xy text-white bg-black p-3">
    <div class="col-3">
        <h2 class="t-t-u">{{title}}</h2>
    </div>
    <div class="col-9">
        <ul class="center-y-end-x w-100">
            <li class="list-style-none px-2">
                <a class="text-white t-t-u" href="#/">home</a>
            </li>
            <li class="list-style-none px-2">
                <a class="text-white t-t-u" href="#/todos">todos</a>
            </li>
            <li class="list-style-none px-2">
                <a class="text-white t-t-u" href="#/user">user</a>
            </li>
        </ul>
    </div>

</nav>