<div style="margin-top: 12px;margin-bottom: 12px;">
    <div>
        <span>id : 123456</span>
    </div>
    <div>
        <span>category</span>
    </div>
    <div>
        <span>title task</span>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, hic suscipit! Quia corrupti
            consequuntur tempore commodi provident nulla doloremque in, ducimus non inventore unde libero dolores
            atque quidem fuga maiores.</span>
    </div>
    <div>
        <input class="form-check-input" type="checkbox" role="switch" id="123" />
        <label class="form-check-label" for="123">
            status
        </label>
    </div>
    <div>
        <div class="col-12">
            <button type="button">
                edit
            </button>
            <button type="button">
                delete
            </button>
        </div>
    </div>
</div>